@import url("/src/assets/styles/main.css");

.Stickbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0px;
    width: 100%;
    background-color: #fafafa;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    color: #317df0;
    &:global{

        & > .navbar{
            width: auto;
            gap: 16px;
            display: flex;
            align-items: center;
            justify-content:space-between;
            
        }
        & > .navbar img {
            width: 48px;
            margin-right: 12px;
        }
        & > .navbar a {
            color: #317df0;
        }
        & > .sign-in{
            width: 120px;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            border: 2px solid rgba($color: #d6d6d6, $alpha: 0.8);
            padding:8px;
            
        }
        & > .sign-in a {
            color: #317df0;
        }
    }
}
