
.card {
  max-width: 300px;
  max-height: 600px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border-radius: 12px;
  border: solid 2px #e4e3e4;
  margin: 0px 20px;
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  &:global {
    & > .card__header img{
      width: 100%;
      margin-bottom: 20px;
      border-radius: 15px 15px 0px 0px;
      border-bottom: 1px solid #e0e0e0;
     
    }
    & > .card__body {
      text-align: center;
      color: #1f2628;
      & > span {
        font-weight: 600;
      }
      & > h1 {
        padding: 0px 0px 20px 0px;
       
      }
      & > p {
        color: gray;
        padding: 0px 10px 30px 10px;
      }
    }
    & > .card__footer {
      /* border: 1px solid black; */
      border-radius: 0px 0px 15px 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px 0px;
      text-align: center;
      background-color: #1f2628;
      color: white;
      & > .card__Footer__first div p,
      .card__Footer__second div p,
      .card__Footer__third div p {
        font-size: 20px;
        font-weight: 1000;
      }
    }
  }
}
