.card {
  width: 250px;
  height: 280px;
  background-color: #e8e8eb;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 3px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(0.9);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  &:global {
    & > .divImg {
      img {
        width: 242px;
        height: 170px;
        border-radius: 5px;
        object-fit: cover;
      }
      & > .divRating {
        display: flex;
        align-items: center;
        background-color: #e8e8eb;
        color: #1f2628;
        top: 8px;
        right: 6px;
        position: absolute;
        border-radius: 10px;
        padding: 1px 5px;
        gap: 2px;
      }
    }

    & > .divInfo {
      display: flex;
      flex-direction: column;
      color: #596e74;
      gap: 3px;
      margin: 3px 6px;
      & > h2 {
        color: #1f2628;
      }
      & > .divLocation {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;
        align-self: start;
        & > i {
          color: #1f2628;
        }
      }
    }
  }
}
